.project-card-container{
    width: auto;
    max-width: 55rem;
    height: auto;
    display: grid;
    grid-template-columns: 45% 55%;
    background-color: #343434;
    border-radius: 1rem;
    margin: 0 2rem 3rem 2rem;
    color: white;
    align-items: center;
    justify-content: center;
}

.project-card-container:hover{
    transform: scale(1.02);
    transition: transform 0.5s;
}

.image-container {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: left;
    border-radius: 1rem 0 0 1rem;
    background-color: #242424 ;
    clip-path: polygon(0 0, 100% 0, 88% 100%, 0 100%);
    height: 100%; /* Se puede jugar con eso para desfasar la imagen */
}

.project-image {
    width: 99%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem 0 0 1rem;
    overflow: hidden;
    clip-path: polygon(0 0, 100% 0, 88% 100%, 0 100%);
}


.info-container{
    position: relative;
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-description-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
}

.title{
    text-align: center;
    margin: 0 0 0.5rem 0;
}

.description{
    text-align: center;
    margin: 0 0 1rem 0;
}

.tech-stack-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.technology{
    /* font-size: 1.2rem; */
    font-weight: 600;
    margin: 0 1rem 0.5rem 1rem;
    color: white;
}

.links-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
}

@media screen and (max-width: 768px){
    .project-card-container{
        display: grid;
        grid-template-columns: 100%;
        max-width: 22rem;

    }
    
    .image-container{
        width: 100%;
        height: 100%;
        min-height: 2rem;
        align-items: start;
        justify-content: center;
        border-radius: 1rem 1rem 0 0;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 92%);
    
    }

    .project-image {
        width: 100%;
        height:99%;
        border-radius: 1rem 1rem 0 0;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 92%);
    }
}