:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #ffffff;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

a {
  font-weight: 500;
  color: #edf0f1;
  text-decoration: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-width: 20rem;
  min-height: 100vh;
  height: 100%;
  overflow: hidden; /* Hide default scrollbar */
}

#root {
  height: 100vh; /* Ensure the root takes full height */
  display: flex;
  flex-direction: column;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #242424;
  z-index: 1000;
  padding: 1rem;
}

.app-content {
  flex: 1; /* Make sure content takes available space */
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Ensure no default overflow */
  padding-top: 5rem; /* Adjust according to your header height */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 0.5rem;
  border: 0.15rem solid #ffffff;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  transition: border-color 0.25s;
  margin: 0 0.5rem;
  color: #ffffff;
}

button:hover {
  background-color: #ffffff;
  color: #343434;
  cursor: pointer;
}

/* Simplebar custom scrollbar */
.simplebar-track.simplebar-vertical {
  width: 0.625rem; /* Adjust width as needed */
  right: 0.3rem; /* Add margin to the right */
}

.simplebar-scrollbar:before {
  background-color: #999999; /* Adjust color as needed */
}

.simplebar-scrollbar:hover:before {
  background-color: #cccccc; /* Adjust color as needed */
}
